.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[code]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

static/
posts/static/

*.sqlite3
